fastapi
uvicorn[standard]
pyais
websockets
redis
asyncpg
sqlalchemy[asyncio]
geoalchemy2
celery
httpx
python-dotenv
pydantic
pydantic-settings
psycopg2-binary
shapely
pyproj
pandas
numpy
aiofiles
apscheduler
